@use "../abstracts/abstracts" as variable;

.card {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);

  width: 350px;
  height: 378px;

  @include variable.flex(column, normal);
  row-gap: 1rem;

  &__header {
    width: 100%;
    position: relative;
    min-height: 8.75rem;
    border-radius: 1rem 1rem 0 0;
    background: url(../../images/bg-pattern-card.svg);
    img {
      position: absolute;
      top: 60%;
      left: 35%;
      border-radius: 50%;
      padding: 0.3rem;
      background-color: white;
    }
  }

  &__body {
    line-height: 2rem;
    width: 100%;
    margin-top: 3rem;
  }

  hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1.5px;
    width: 100%;
  }

  &__footer {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
}

.card__body h3:not(span:first-of-type),
.card__stats li p:first-child {
  font-size: variable.$font-size-secondary;
  font-weight: variable.$font-weight-700;
  color: variable.$very-dark-desaturated-blue;
}

.card__body h3 span {
  font-family: variable.$font-family;
  font-size: variable.$font-size-primary;
  font-weight: variable.$font-weight-400;
  color: variable.$dark-gray;
}

.card__stats {
  list-style: none;
  @include variable.flex(row, space-around);

  li p:last-child {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }
}
